.wrap {
  background: rgba(140, 202, 238, 0.3);
  width: 100px;
  height: 100%;
}
.wrap .item {
  width: 100%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.wrap .active {
  background: #8498da;
  color: #fff;
}
